* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: white;
}

button {
  background-color: transparent;
  border: none;
  padding: 0.25rem;
  font-size: large;
  border-bottom: 2px solid transparent;
}

button:hover {
  border-bottom: 2px solid black;
}

header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid whitesmoke;
}

#content {
}

#home {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: orange;
  overflow: hidden;
}
#action-txt {
  margin: auto;
  height: fit-content;
}

h1 {
  font-size: 3.5rem;
  color: white;
}
